@using System;
@using System.Text;

<br />
Your Hash-code for your password:
<br />
<span class="border border-warning rounded-circle" style="text-align:center; background-color: yellow">
    @PasswordSha512HashedConvertedToStr
    @PasswordHashSalt
</span>
<br />
<br />

@code {
    const string Password = "Love2dogs!";

    string PasswordSha512HashedConvertedToStr = HashingMethod.HashString(Password);

    string PasswordHashSalt = "salt"; //PasswordSha512HashedConvertedToStr + "SomeS4ltAdded!";
}