<h1>Hello, dog friends!</h1>
<p>
    Velkommen til app'en, hvor vi alle kan se en indikation af, hvem der er i hundeskoven hvornår.
    <br />Under punktet "Hundeskove" kan du se en liste af hundeskovene, og hvor mange, der aktuelt er i dem.
    <br />Under punket "Profil" kan du se dine gemte data.
</p>

@code {

}
